In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
Df = pd.read_csv(r'C:\Users\USER\Downloads\Netflix_Viewing_History.csv')
Df

                                                  Title        Date
0            Russian Doll: Season 2: Station to Station    5/4/2022
1                   Russian Doll: Season 2: Brain Drain    5/3/2022
2             Russian Doll: Season 2: Coney Island Baby   4/26/2022
3                        Russian Doll: Season 2: Nowhen   4/26/2022
4     Eternally Confused and Eager for Love: Season ...   4/10/2022
...                                                 ...         ...
1967                    The OA: Part I: Chapter 4: Away  12/22/2016
1968                The OA: Part I: Chapter 3: Champion  12/22/2016
1969            The OA: Part I: Chapter 2: New Colossus  12/22/2016
1970              The OA: Part I: Chapter 1: Homecoming  12/22/2016
1971                                 The Imitation Game  12/21/2016

[1972 rows x 2 columns]

In [4]:
Df.shape

(1972, 2)

In [5]:
#Nuber of times Designated Survivor was watched
DS = Df['Title'].apply(lambda title: 'Designated Survivor' in   title).sum()
DS

10

In [6]:
#Starting date of watching the show Bridgerton
Df.loc[["Bridgerton" in title for title in Df["Title"]],:].sort_values("Date", ascending= True)

                                                Title       Date
413          Bridgerton: Season 1: An Affair of Honor   1/8/2021
414            Bridgerton: Season 1: Art of the Swoon   1/8/2021
415           Bridgerton: Season 1: Shock and Delight   1/8/2021
416  Bridgerton: Season 1: Diamond of the First Water   1/8/2021
409              Bridgerton: Season 1: After the Rain   1/9/2021
410                Bridgerton: Season 1: Oceans Apart   1/9/2021
411                       Bridgerton: Season 1: Swish   1/9/2021
412              Bridgerton: Season 1: The Duke and I   1/9/2021
15               Bridgerton: Season 2: Capital R Rake  3/26/2022
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/2022
14             Bridgerton: Season 2: Off to the Races  3/30/2022
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/2022
12                      Bridgerton: Season 2: Victory  3/31/2022
10                   Bridgerton: Season 2: The Choice   4/2/2022
9                       Bridgerton: Season 2: Harmony   4/3/2022
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/2022

In [7]:
#Percentage of what is watched is on Netflix or a show
#Identify whether each title is from a show:
Df["Title"].apply(lambda title: "Season" in title or "Chapter" in title)

0        True
1        True
2        True
3        True
4        True
        ...
1967     True
1968     True
1969     True
1970     True
1971    False
Name: Title, Length: 1972, dtype: bool

In [8]:
#Compute the proportion of Netflix viewing spent on watching shows:
Df["Title"].apply(lambda title:"Season" in title or "Chapter" in title).sum()/len(Df["Title"].apply(lambda title:"Season"in title or "Chapter" in title))

0.9031440162271805

In [10]:
#Convering the proportion to percentage and saving to a variable:
show_percentage= Df["Title"].apply(lambda title: "Season" in title or "Chapter" in title).sum()/len(Df["Title"].apply(lambda title: "Season" in title or "Chapter" in title ))*100
show_percentage

90.31440162271805

In [11]:
#Hence movie percentage is:
movie_percentage= 100- show_percentage
movie_percentage

9.685598377281949